@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
 /* Primary */

--Desaturated_Dark_Cyan: hsl(180, 29%, 50%);

/* Neutral */
;
--Light_Grayish_Cyan_Background: hsl(180, 52%, 96%);
--Light_Grayish_Cyan_Filter_Tablets: hsl(180, 31%, 95%);
--Dark_Grayish_Cyan: hsl(180, 8%, 52%);
--Very_Dark_Grayish_Cyan: hsl(180, 14%, 20%);
}

*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: "spartan",sans-serif;
    padding: 1.25rem;
    background-color: var(--Light_Grayish_Cyan_Background);
}

.job_listings {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}
.card{
    background-color: white;
    padding: 0.7rem;
    margin-bottom: 2rem;
}
.company-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;   
    padding-bottom: 0.5rem;
    
}
.tag1 {
    background-color: var(--Desaturated_Dark_Cyan);
    color: var(--Light_Grayish_Cyan_Filter_Tablets);
    padding: 0.3rem 0.5rem;
    border-radius:1rem ;
    margin-right: 0.5rem;
}
.company{
    color: var(--Desaturated_Dark_Cyan);
    font-size: 15px;
    padding-left: 0.7rem;
    padding-right: 0.8rem;
}

.position{
    padding-left: 0.7rem;
    font-size: 15px;
    padding-bottom: 0.5rem;
}
.meta{
    color: var(--Dark_Grayish_Cyan);
    display: flex;
    flex-flow: row wrap;
    padding-left: 0.7rem;
    padding-bottom: 0.5rem;
    
}

.line{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    border-style: inset;
    border-width: 1px;
}
.need{
    display: flex;
    padding-left: 0.7rem;
    flex-flow: row wrap;
    align-items: center;
}
.skill{
    padding: 0.5rem;
    font-weight: bold;
    background-color: var(--Light_Grayish_Cyan_Background);
    color: var(--Desaturated_Dark_Cyan);
    margin: 0.5rem;
}

.postedAt {
    margin-right: 0.5rem;
}
.contract {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.location {
    margin-left: 0.5rem;
}
.logo{
    height:3rem;
    padding-left: 2rem;
}